/* YOUR CUSTOM STYLES */

.vdoma-display-none{
    display: none;
}

.vdoma-display-block{
    display: block;
}

.vdoma-cursor-pointer{
    cursor: pointer;
}

.section-task{
    color: #373a3c;
    padding-top: 15px;
}

.section-move-box, .section-move-task-box{
    background: #eee;
    margin: 0 14px 14px 6px;
}

.section-move, .section-move-in{
    padding: 10px;
}

.section-move:hover, .section-move-in:hover{
    background: #b2dfdb;
}

.vdoma-margin-top-50{
    margin-top: 50px;
}

.vdoma-padding-0{
    padding: 0;
}


